// Text sizing and baseline

// Example using rem units
// $font-size: 1rem;
// $baseline: 1.618rem; // we golden boys

// Example of setting the font to vw
// $font-size: 1vw;
// $baseline: 1.618vw; // we golden boys

// Classic
$font-size: 16px;
$baseline: 24px;

$system-font-stack: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

// Microsoft font stack
$base-font-stack: "Lato", sans-serif;
$alt-font-stack: $base-font-stack;

// Example using system font stack
// $base-font-stack: $system-font-stack;
// $alt-font-stack: $base-font-stack;

// Example using alternate font stack
// $base-font-stack: 'Helvetica Neue', sans-serif;
// $alt-font-stack: 'Palatino', serif;

$monospace-font-stack: "Inconsolata", monospace;

// Shorthands and a helper function
$bl: $baseline;
$lh: $baseline;
$fs: $font-size;

@function bl($ratio) {
  @return calc(#{$bl} * (#{$ratio}));
}

@function bl($ratio) {
  @return $bl * $ratio;
}

// Define heading styles
%heading-1 {
  font-size: $fs * 2.75;
  line-height: bl(2);
  font-weight: bold;
}

%heading-2 {
  font-size: $fs * 2.25;
  line-height: bl(2);
  font-weight: bold;
}

%heading-3 {
  font-size: $fs * 1.75;
  line-height: bl(2);
  font-weight: bold;
}

%heading-4 {
  font-size: $fs * 1.25;
  line-height: bl(1);
  font-weight: bold;
}

%heading-5 {
  font-size: $fs;
  line-height: bl(1);
}

%heading-6 {
  font-size: $fs * 0.75;
  line-height: bl(1);
}

%global-heading {
  font-family: $alt-font-stack;
  color: c('primary');
  font-weight: 400;

  .alt-color-scheme-1 &,
  .alt-color-scheme-2 & {
    color: #fff;
  }

  &:not(:last-child) {
    margin-bottom: $bl;
  }
}

%heading-1, %heading-2, %heading-3, %heading-4, %heading-5, %heading-6 {
  @extend %global-heading;
}

// Apply this mixin when needed for properly styled blocks of rich text
@mixin typography {
  // Give body text a default bottom margin.
  #{$all-body-text-elements},
  #{$all-list-elements},
  img {
    margin-bottom: $bl;
  }

  a {
    border-bottom: 1px solid;

    &:hover {
      border-bottom: 2px solid;
    }
  }

  mark {
    background: c("highlight");
    padding-left: bl(0.125);
    padding-right: bl(0.125);
  }

  code, samp, kbd {
    font-size: 0.9em;
    line-height: bl(0.9);
    font-family: $monospace-font-stack;
  }

  code, kbd {
    font-size: 0.9em;
    background: grey(8);
    padding-left: bl(0.125);
    padding-right: bl(0.125);
    color: grey(3);
  }

  kbd {
    background: grey(2);
    color: grey(9);
  }

  del, s {
    text-decoration: none;
    position: relative;

    &:after {
      content: "";
      height: 1px;
      background: grey(1);
      position: absolute;
      left: 0px;
      right: 0px;
      top: 50%;

      .theme-dark & {
        background: grey(8);
      }
    }
  }

  del {
    color: c("error");

    &:after {
      background: c("error");

      .theme-dark & {
        background: c("error");
      }
    }
  }

  ins {
    color: c("success");
  }

  ins, u {
    border-bottom: 1px solid;
    text-decoration: none;
  }

  abbr {
    border-bottom: 1px dotted;
  }

  ul, ol {
    padding-left: $bl;
  }

  ul {
    list-style: disc;
  }

  ol {
    list-style: decimal;
  }

  hr {
    border: none;
    height: 1px;
    margin-bottom: calc(#{$bl} - 1px);
    margin-top: $bl;
    position: relative;
    background: black(0.5);

    .theme-dark & {
      background: white(0.5);
    }
  }

  img {
    max-width: 100%;
    display: block;
  }

  table {
    width: 100%;
    margin-bottom: bl(1);

    caption {
      text-align: left;

      @extend %heading-4;
    }

    thead {
      td, th {
        text-align: left;
        font-weight: normal;
        font-size: $font-size * 0.8;
      }
    }

    td, th {
      border-bottom: 1px solid black(0.2);
      padding-bottom: calc(#{bl(0.25)} - 1px);
      padding-top: bl(0.25);
      text-align: left;
      vertical-align: top;

      .theme-dark & {
        border-bottom: 1px solid white(0.2);
      }
    }

    tr:last-child td {
      border-bottom: none;
    }
  }

  blockquote {
    padding-left: bl(2);
    position: relative;

    p {
      font-size: $fs * 1.125;
      line-height: $bl * 1;
    }

    &:before {
      content: "“";
      position: absolute;
      top: 12px;
      left: 8px;
      font-size: bl(2);
    }
  }

  @for $i from 1 through length($all-header-elements) {
    h#{$i} {
      @extend %heading-#{$i};
    }
  }
}
