/* @group Base */
.chosen-container {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  user-select: none;
  box-sizing: border-box;

  * {
    box-sizing: border-box;
  }

  .chosen-drop {
    position: absolute;
    top: 100%;
    z-index: 1010;
    width: 100%;
    border: 1px solid c('primary');
    border-top: 0;
    background: #fff;
    clip: rect(0,0,0,0);
    clip-path: inset(100% 100%);
  }

  &.chosen-with-drop .chosen-drop {
    clip: auto;
    clip-path: none;
  }

  a {
    cursor: pointer;
  }

  .search-choice, .chosen-single{
    .group-name{
      margin-right: 4px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-weight: normal;
      color: #999999;

      &:after {
        content: ":";
        padding-left: 2px;
        vertical-align: top;
      }
    }
  }
}
/* @end */

/* @group Single Chosen */
.chosen-container-single{
  .chosen-single {
    position: relative;
    display: block;
    overflow: hidden;
    padding: 0px bl(0.5);
    height: bl(1.5);
    border: 1px solid black(0.5);
    background-color: #fff;
    background-clip: padding-box;
    color: #444;
    text-decoration: none;
    white-space: nowrap;
    line-height: bl(1.5);

    &:hover {
      border-color: black(1);
      border-bottom-width: 1px;
    }
  }

  .chosen-default {
    color: #999;
  }

  .chosen-single span {
    display: block;
    overflow: hidden;
    margin-right: bl(1);
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: bl(1.5) - 2px;
  }

  .chosen-single-with-deselect span {
    margin-right: 38px;
  }

  .chosen-single abbr {
    position: absolute;
    top: 6px;
    right: 26px;
    display: block;
    width: 12px;
    height: 12px;
    font-size: 1px;
  }

  .chosen-single div {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: bl(1.5);
    height: 100%;

    b {
      display: block;
      width: 100%;
      height: 100%;
      text-align: center;

      &:after {
        content: '\E70D';
        font-family: FW-MDL2;
      }
    }
  }

  .chosen-search {
    position: relative;
    z-index: 1010;
    margin: 0;
    white-space: nowrap;

    &:after {
      position: absolute;
      content: "\E721";
      font-family: FW-MDL2;
      top: 0px;
      right: 0px;
      bottom: 0px;
      width: bl(1.5);
      line-height: bl(1.5);
      text-align: center;
    }

    input[type="text"] {
      width: 100%;
      border-top-width: 0px;
      border-left-width: 0px;
      border-right-width: 0px;
      border-color: black(0.5);
      background: transparent;
      padding-right: bl(1.5);
    }
  }

  .chosen-drop {
    margin-top: 0px;
    background-clip: padding-box;
  }

  &.chosen-container-single-nosearch .chosen-search {
    position: absolute;
    clip: rect(0,0,0,0);
    clip-path: inset(100% 100%);
  }
}
/* @end */

/* @group Results */
.chosen-container .chosen-results {
  color: #444;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 240px;
  -webkit-overflow-scrolling: touch;
  margin: 0px;
  padding: 0px;

  li {
    display: none;
    margin: 0;
    list-style: none;
    word-wrap: break-word;
    -webkit-touch-callout: none;
    line-height: bl(1.5);
    padding-left: bl(0.5);
    padding-right: bl(0.5);

    &:not(:first-child) {
      border-top: 1px solid transparent;
    }

    &:not(:last-child) {
      border-bottom: 1px solid transparent;
    }

    &.active-result {
      display: list-item;
      cursor: pointer;
    }

    &.disabled-result {
      display: list-item;
      color: grey(7);
      cursor: default;
    }

    &.highlighted {
      background-color: rgba(c('primary'), 0.035);
      border-top-color: c('primary');
      border-bottom-color: c('primary');
    }

    &.no-results {
      color: grey(5);
      display: list-item;
      background: grey(9);
    }

    &.group-result {
      display: list-item;
      cursor: default;
      font-size: $fs * 0.8;
      padding-top: bl(0.25);
      padding-bottom: bl(0.125);
      line-height: bl(0.8);
    }

    &.group-option {
      padding-left: bl(1);
    }

    em {
      font-style: normal;
      text-decoration: underline;
    }
  }
}
/* @end */

/* @group Multi Chosen */
.chosen-container-multi{
  .chosen-choices {
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0px;
    width: 100%;
    min-height: bl(1.5);
    line-height: bl(1.5);
    border: 1px solid black(0.5);
    background-color: #fff;
    cursor: text;
  }

  .chosen-choices li {
    float: left;
    list-style: none;

    &.search-field {
      margin: 0;
      padding: 0;
      white-space: nowrap;

      input[type="text"] {
        height: bl(1.5) - 2px;
        line-height: bl(1.5) - 2px;
        outline: 0;
        border: 0 !important;
        background: transparent !important;
        line-height: normal;
        width: 25px;
      }
    }

    &.search-choice {
      position: relative;
      max-width: 100%;
      color: grey(5);
      height: bl(1.5) - 2px;
      line-height: bl(1.5) - 2px;
      cursor: default;
      padding-right: bl(1);
      padding-left: bl(0.25);
      // border-right: 1px solid black(0.2);
      background: #fff;
      // box-shadow: 0px 1px 0px 0px black(0.2);

      &:hover {
        color: c('primary');
        // border-color: c('primary');
        background-color: rgba(c('primary'), 0.035);
        // box-shadow: 0px 1px 0px 0px c('primary');

        .search-choice-close {
          color: c('primary');
        }
      }

      span {
        word-wrap: break-word;
      }

      .search-choice-close {
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        display: block;
        text-align: center;
        line-height: bl(1.5);
        width: bl(1);
        border-bottom: none !important;
        color: grey(5);

        &:after {
          content: '\E711';
          font-family: FW-MDL2;
          font-size: $fs * 0.75;
        }
      }
    }

    &.search-choice-disabled {
      padding-right: 5px;
      border: 1px solid #ccc;
      background-color: #e4e4e4;
      color: #666;
    }

    &.search-choice-focus {
      background: #d4d4d4;
    }
  }

  .chosen-results {
    margin: 0;
    padding: 0;
  }

  .chosen-drop .result-selected {
    display: list-item;
    color: #ccc;
    cursor: default;
  }
}
/* @end */

/* @group Active  */
.chosen-container-active{
  .chosen-single {
    border: 1px solid c('primary');
    background: rgba(c("primary"), 0.1);
  }

  &.chosen-with-drop{
    .chosen-single {
      border: 1px solid c('primary');
      color: c('primary');
    }

    .chosen-single div {
      b:after {
        content: '\E70E';
      }
    }
  }

  .chosen-choices {
    border: 1px solid #5897fb;

    li.search-field input[type="text"] {
      color: #222 !important;
    }
  }
}
/* @end */

/* @group Disabled Support */
.chosen-disabled {
  opacity: 0.5 !important;
  cursor: default;

  .chosen-single {
    cursor: default;
  }

  .chosen-choices .search-choice .search-choice-close {
    cursor: default;
  }
}
/* @end */

/* @group Right to Left */
.chosen-rtl {
  text-align: right;

  .chosen-single {
    overflow: visible;
    padding: 0 8px 0 0;
  }

  .chosen-single span {
    margin-right: 0;
    margin-left: 26px;
    direction: rtl;
  }

  .chosen-single-with-deselect span {
    margin-left: 38px;
  }

  .chosen-single div {
    right: auto;
    left: 3px;
  }

  .chosen-single abbr {
    right: auto;
    left: 26px;
  }

  .chosen-choices li {
    float: right;

    &.search-field input[type="text"] {
      direction: rtl;
    }

    &.search-choice {
      margin: 3px 5px 3px 0;
      padding: 3px 5px 3px 19px;

      .search-choice-close {
        right: auto;
        left: 4px;
      }
    }
  }

  .chosen-results li.group-option {
    padding-right: 15px;
    padding-left: 0;
  }

  &.chosen-container-active.chosen-with-drop .chosen-single div {
    border-right: none;
  }

  .chosen-search input[type="text"] {
    direction: rtl;
  }
}

/* @end */
