$form-gutter: bl(0.5);

#{$all-input-elements}, textarea, input[type='date'] {
  border: none;
  background-color: transparent;
  border: 1px solid black(0.5);
  display: block;
  color: grey(3);
  font-size: $font-size;

  .theme-dark & {
    border: 1px solid white(0.4);
    color: grey(7);
  }

  &:hover {
    border-color: black(1);

    .theme-dark & {
      border-color: white(1);
    }
  }

  @include placeholder {
    color: black(0.3);

    .theme-dark & {
      color: white(0.3);
    }
  }

  &.full-width {
    width: 100%;
  }

  &:active, &:focus {
    color: grey(1);
    outline: none;
    border-color: c("primary");
    background: rgba(c("primary"), 0.035);

    @include placeholder {
      color: rgba(c("primary"), 0.3);
    }

    .theme-dark & {
      color: grey(9);
      border-color: c("primary");
      background: rgba(c("primary"), 0.2);
    }
  }

  &[disabled] {
    background-color: black(0.1);
    border-color: grey(6);

    &:active, &:focus {
      background-color: black(0.1);
      cursor: default;
      box-shadow: none;

      @include placeholder {
        color: black(0.3);
      }
    }

    .theme-dark & {
      background: white(0.1);
      border-color: grey(1);
    }
  }
}

#{$all-input-elements} {
  height: bl(1.5);
  padding: 0px bl(0.5);
}

textarea {
  padding: bl(0.5);
  font-size: $fs;
  min-width: bl(10);
  min-height: bl(5);
}

.button-row {
  margin-left: bl(-0.25);
  margin-right: bl(-0.25);
  font-size: 0px;

  &:not(:last-child) {
    margin-bottom: bl(0.5);
  }

  * {
    margin-left: bl(0.25);
    margin-right: bl(0.25);
    margin-bottom: bl(0.5);
  }

  &.align-right {
    text-align: right;
    margin-left: 0px;
    margin-right: 0px;

    * {
      margin-left: bl(0.5);
      margin-right: 0px;
    }
  }

  &.align-left {
    text-align: left;
    margin-left: 0px;
    margin-right: 0px;

    * {
      margin-right: bl(0.5);
      margin-left: 0px;
    }
  }
}

form {
  .full-width {
    width: 100%;
  }

  .note {
    margin-bottom: 0px !important;
    font-size: $fs * 0.75;
    line-height: bl(0.75);
    margin-top: bl(0.25);
    color: grey(4);
  }

  .large {
    padding-left: bl(0.75);
    padding-right: bl(0.75);
    font-size: $fs * 1.5;
    line-height: bl(1.5);
    height: bl(2 + 2 / 3);
  }

  textarea.large {
    height: 240px;
    font-size: 22px;
  }

  label {
    display: block;
    margin-bottom: 0px;

    &.large-label {
      font-size: $fs * 1.5;
    }
  }

  .label {
    display: block;
    font-size: $fs * 0.8;
    line-height: bl(0.8);
    padding-bottom: bl(1 / 12);

    .theme-dark & {
      color: grey(5);
    }
  }

  select {
    height: bl(1.5);
    background: #fff;
    border: 1px solid black(0.7);
    border-radius: 0px !important;

    &.full-width {
      width: 100%;
    }
  }

  .has-error {
    color: c("error");

    .note, .label {
      color: c("error");
    }

    #{$all-input-elements} {
      border-color: c("error");

      &:hover, &:active, &:focus {
        border-color: c("error");
      }

      &:active, &:focus {
        background: rgba(c("error"), 0.025);

        .theme-dark & {
          background: rgba(c("error"), 0.2);
        }
      }
    }
  }

  .checkbox, .radio {
    position: relative;
    overflow: hidden;
    display: inline-block;
    margin-right: bl(0.75);
    padding-bottom: 2px;

    input {
      height: 0px;
      width: 0px;
      display: block;
      position: relative;
      left: bl(-2);
      // visibility: hidden;
    }

    .fake-check, .fake-radio {
      height: bl(1);
      width: bl(1);
      border: 1px solid black(0.5);
      position: absolute;
      top: 0px;
      left: 0px;

      .theme-dark & {
        border-color: white(0.4);
      }
    }

    .fake-radio {
      border-radius: 50%;
    }

    .label {
      margin-left: bl(1.5);
      display: inline-block;
      font-size: $font-size;
      line-height: bl(1);
      display: block;
      padding-bottom: 0px;
    }

    .fake-radio, .fake-check {
      &:after {
        content: '';
        position: absolute;
        display: none;
      }
    }

    input:checked ~ .fake-check {
      &:after {
        display: block;
        top: bl(-0.05);
        left: bl(0.25);
        height: bl(0.8);
        width: bl(0.4);
        transform: rotate(45deg);
        border-right: bl(0.125) solid black(0.7);
        border-bottom: bl(0.125) solid black(0.7);

        .theme-dark & {
          border-color: white(0.9);
        }
      }
    }

    input:checked ~ .fake-radio {
      &:after {
        display: block;
        top: 50%;
        left: 50%;
        height: bl(0.4);
        width: bl(0.4);
        transform: translate(-50%, -50%);
        background: black(0.7);
        border-radius: 50%;

        .theme-dark & {
          background: white(0.9);
        }
      }
    }

    &:hover {
      .fake-check, .fake-radio {
        border-color: black(1);

        .theme-dark & {
          border-color: white(1);
        }
      }
    }

    input:focus ~ .fake-check, input:focus ~ .fake-radio {
      background: rgba(c('primary'), 0.1);
      border-color: c('primary');

      .theme-dark & {
        border-color: c('primary');
        background: rgba(c('primary'), 0.3);
      }
    }
  }
}
