// --------------------------------------------------------------------------
// MSFT Fluent Web icons
// To see what these look like please visit:
// https://fluentweb.com/designing/imagery/icons
// --------------------------------------------------------------------------

@font-face{
  font-family: FW-MDL2;
  src: url(/static/fonts/icons/MWFMDL2.woff) format("woff"),
       url(/static/fonts/icons/MWFMDL2.ttf) format("truetype"),
       url(/static/fonts/icons/MWFMDL2.eot) format("embedded-opentype"),
       url(/static/fonts/icons/MWFMDL2.svg) format("svg")
}

.icon {
  vertical-align: middle;
}

.icon:before, .icon:after {
  font-family: FW-MDL2;
}

.icon.icon-accept:before                     {  content:"\E8FB"  }
.icon.icon-add:before                        {  content:"\E710"  }
.icon.icon-arrow-htmllegacy:before           {  content:"\E0D5"  }
.icon.icon-arrow-htmllegacy-mirrored:before  {  content:"\E0AE"  }
.icon.icon-back-to-window:before             {  content:"\E73F"  }
.icon.icon-back:before                       {  content:"\E72B"  }
.icon.icon-bulleted-list:before              {  content:"\E8FD"  }
.icon.icon-bulleted-list-mirrored:before     {  content:"\EA42"  }
.icon.icon-calendar:before                   {  content:"\E787"  }
.icon.icon-calendar-day:before               {  content:"\E8BF"  }
.icon.icon-calendar-mirrored:before          {  content:"\ED28"  }
.icon.icon-calendar-week:before              {  content:"\E8C0"  }
.icon.icon-camera:before                     {  content:"\E722"  }
.icon.icon-cancel:before                     {  content:"\E711"  }
.icon.icon-chat-bubbles:before               {  content:"\E8F2"  }
.icon.icon-checkbox-composite:before         {  content:"\E73A"  }
.icon.icon-checkbox-indeterminate:before     {  content:"\E73C"  }
.icon.icon-check-mark:before                 {  content:"\E73E"  }
.icon.icon-chevron-down:before               {  content:"\E70D"  }
.icon.icon-chevron-down-small:before         {  content:"\E96E"  }
.icon.icon-chevron-left:before               {  content:"\E76B"  }
.icon.icon-chevron-right:before              {  content:"\E76C"  }
.icon.icon-chevron-up:before                 {  content:"\E70E"  }
.icon.icon-clear:before                      {  content:"\E894"  }
.icon.icon-completed:before                  {  content:"\E930"  }
.icon.icon-contact:before                    {  content:"\E77B"  }
.icon.icon-copy:before                       {  content:"\E8C8"  }
.icon.icon-delete:before                     {  content:"\E74D"  }
.icon.icon-down:before                       {  content:"\E74B"  }
.icon.icon-download:before                   {  content:"\E896"  }
.icon.icon-edit-mirrored:before              {  content:"\EB7E"  }
.icon.icon-edit:before                       {  content:"\E70F"  }
.icon.icon-emoji-disappointed:before         {  content:"\EA88"  }
.icon.icon-emoji-neutral:before              {  content:"\EA87"  }
.icon.icon-favorite-star-fill:before         {  content:"\E735"  }
.icon.icon-favorite-star:before              {  content:"\E734"  }
.icon.icon-feedback:before                   {  content:"\ED15"  }
.icon.icon-filter:before                     {  content:"\E71C"  }
.icon.icon-flag:before                       {  content:"\E7C1"  }
.icon.icon-font-decrease:before              {  content:"\E8E7"  }
.icon.icon-font-increase:before              {  content:"\E8E8"  }
.icon.icon-forward:before                    {  content:"\E72A"  }
.icon.icon-full-screen:before                {  content:"\E740"  }
.icon.icon-giftbox:before                    {  content:"\EC1F"  }
.icon.icon-global-nav-button:before          {  content:"\E700"  }
.icon.icon-go-mirrored:before                {  content:"\EA4F"  }
.icon.icon-go:before                         {  content:"\E8AD"  }
.icon.icon-half-star-left:before             {  content:"\E7C6"  }
.icon.icon-half-star-right:before            {  content:"\E7C7"  }
.icon.icon-heart-fill:before                 {  content:"\EB52"  }
.icon.icon-holo-lens:before                  {  content:"\EC94"  }
.icon.icon-important:before                  {  content:"\E8C9"  }
.icon.icon-incident-triangle:before          {  content:"\E7BA"  }
.icon.icon-info:before                       {  content:"\E946"  }
.icon.icon-list:before                       {  content:"\EA37"  }
.icon.icon-mail:before                       {  content:"\E715"  }
.icon.icon-microphone:before                 {  content:"\E720"  }
.icon.icon-more:before                       {  content:"\E712"  }
.icon.icon-music-album:before                {  content:"\E93C"  }
.icon.icon-mute:before                       {  content:"\E74F"  }
.icon.icon-next:before                       {  content:"\E893"  }
.icon.icon-page:before                       {  content:"\E7C3"  }
.icon.icon-pause:before                      {  content:"\E769"  }
.icon.icon-pc:before                         {  content:"\EC4D"  }
.icon.icon-people:before                     {  content:"\E716"  }
.icon.icon-phone:before                      {  content:"\E717"  }
.icon.icon-play:before                       {  content:"\E768"  }
.icon.icon-previous:before                   {  content:"\E892"  }
.icon.icon-qrcode:before                     {  content:"\ED14"  }
.icon.icon-refresh:before                    {  content:"\E72C"  }
.icon.icon-remove:before                     {  content:"\E738"  }
.icon.icon-rotate:before                     {  content:"\E7AD"  }
.icon.icon-save:before                       {  content:"\E74E"  }
.icon.icon-search:before                     {  content:"\E721"  }
.icon.icon-settings:before                   {  content:"\E713"  }
.icon.icon-share:before                      {  content:"\E72D"  }
.icon.icon-shop-brand:before                 {  content:"\F478"  }
.icon.icon-shopping-cart:before              {  content:"\E7BF"  }
.icon.icon-shuffle:before                    {  content:"\E8B1"  }
.icon.icon-slideshow:before                  {  content:"\E786"  }
.icon.icon-sort:before                       {  content:"\E8CB"  }
.icon.icon-subtitles:before                  {  content:"\ED1E"  }
.icon.icon-surface-hub:before                {  content:"\E8AE"  }
.icon.icon-sync:before                       {  content:"\E895"  }
.icon.icon-up:before                         {  content:"\E74A"  }
.icon.icon-view:before                       {  content:"\E890"  }
.icon.icon-volume:before                     {  content:"\E767"  }
.icon.icon-waffle:before                     {  content:"\ED89"  }
.icon.icon-warning:before                    {  content:"\E814"  }
.icon.icon-world:before                      {  content:"\E909"  }
.icon.icon-xbox-one:before                   {  content:"\E990"  }
.icon.icon-zoom-out:before                   {  content:"\E71F"  }
.icon.icon-zoom:before                       {  content:"\E71E"  }
