*, *:before, *:after {
  box-sizing: border-box;
}

.column-row {
  @include make-columns;
  @include set-gutters;
}

.column-row.no-gutter {
  @include set-gutters(0);
}

.column-row.less-gutter {
  @include set-gutters($gutter-width / 2);
}

@include above(v('small')) {
  .column-row.more-gutter {
    @include set-gutters($gutter-width * 2);
  }

  .column-row.max-gutter {
    @include set-gutters($gutter-width * 3);
  }
}

@include below(v('small')) {
  .one-third,
  .one-half,
  .two-fifths,
  .three-fifths,
  .full,
  .two-thirds {
    width: auto;
    float: none;

    &:not(:last-child) {
      margin-bottom: $bl;
    }
  }

  .one-fourth {
    width: 50%;

    &:not(:last-child) {
      margin-bottom: $bl;
    }
  }
}


@include below(v('smaller')) {
  .one-fourth {
    width: auto;
    float: none;
  }

  .one-fifth, .two-fifths, .three-fifths, .four-fifths {
    width: auto;
    float: none;
  }
}
