.select2-container {
  display: inline-block;
  margin: 0;
  position: relative;
  vertical-align: middle;

  .select2-selection--single {
    cursor: pointer;
    display: block;
    height: bl(1.5);
    user-select: none;

    .select2-selection__rendered {
      display: block;
      padding-left: bl(0.5);
      padding-right: bl(1.5);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .select2-selection__clear {
      position: relative;
    }
  }

  &[dir="rtl"] .select2-selection--single .select2-selection__rendered {
    padding-right: 8px;
    padding-left: 20px;
  }

  .select2-selection--multiple {
    cursor: pointer;
    display: block;
    min-height: bl(1.5);
    user-select: none;

    .select2-selection__rendered {
      display: inline-block;
      overflow: hidden;
      padding-left: 8px;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .select2-search--inline {
    float: left;

    .select2-search__field {
      border: none;
      font-size: 100%;
      padding: 0;

      &::-webkit-search-cancel-button {
        -webkit-appearance: none;
      }
    }
  }
}

.select2-dropdown {
  background-color: white;
  border: 1px solid grey(5);
  display: block;
  position: absolute;
  left: -100000px;
  width: 100%;
  z-index: 1051;
}

.select2-results {
  display: block;
}

.select2-results__options {
  list-style: none;
  margin: 0;
  padding: 0;
}

.select2-results__option {
  user-select: none;
  line-height: bl(1.5);
  padding-left: bl(0.5);
  padding-right: bl(0.5);

  &:not(:first-child) {
    border-top: 1px solid transparent;
  }

  &:not(:last-child) {
    border-bottom: 1px solid transparent;
  }

  &.select2-results__option--highlighted {

  }

  &[aria-selected] {
    cursor: pointer;
  }

  .select2-results__options--nested & {
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    padding-left: bl(1);
  }
}

.select2-container--open {
  .select2-dropdown {
    left: 0;
  }

  .select2-dropdown--above {
    border-bottom: none;
  }

  .select2-dropdown--below {
    border-top: none;
  }
}

.select2-search--dropdown {
  display: block;

  &:after {
    position: absolute;
    content: "\E721";
    font-family: FW-MDL2;
    top: 0px;
    right: 0px;
    bottom: 0px;
    width: bl(1.5);
    line-height: bl(1.5);
    text-align: center;
  }

  .select2-search__field {
    width: 100%;
    padding-right: bl(1.5);

    &:hover {
      border-color: black(0.5);
    }

    &::-webkit-search-cancel-button {
      -webkit-appearance: none;
    }
  }

  &.select2-search--hide {
    display: none;
  }
}

.select2-close-mask {
  border: 0;
  margin: 0;
  padding: 0;
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  min-height: 100%;
  min-width: 100%;
  height: auto;
  width: auto;
  opacity: 0;
  z-index: 99;
  background-color: #fff;
}

.select2-hidden-accessible {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.select2-container--default {
  .select2-selection--single {
    background-color: #fff;
    border: 1px solid black(0.5);

    &:hover {
      border: 1px solid black(1);
    }

    .select2-selection__rendered {
      color: #444;
      line-height: bl(1.5) - 2px;
    }

    .select2-selection__clear {
      cursor: pointer;
      float: right;
      font-weight: bold;
    }

    .select2-selection__placeholder {
      color: #999;
    }

    .select2-selection__arrow {
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      width: bl(1.5);

      &:after {
        content: '\E70D';
        font-family: FW-MDL2;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      b {
        display: none;
      }
    }
  }

  &[dir="rtl"] .select2-selection--single {
    .select2-selection__clear {
      float: left;
    }

    .select2-selection__arrow {
      left: 1px;
      right: auto;
    }
  }

  &.select2-container--disabled .select2-selection--single {
    background-color: #eee;
    cursor: default;

    .select2-selection__clear {
      display: none;
    }
  }

  &.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: transparent transparent #888 transparent;
    border-width: 0 4px 5px 4px;
  }

  .select2-selection--multiple {
    background-color: white;
    border: 1px solid black(0.5);
    cursor: text;

    .select2-selection__rendered {
      list-style: none;
      margin: 0;
      padding: 0 5px;
      width: 100%;

      li {
        list-style: none;
      }
    }

    .select2-selection__placeholder {
      color: #999;
      float: left;
    }

    .select2-selection__clear {
      cursor: pointer;
      float: right;
      font-weight: bold;
      margin-right: 10px;
    }

    .select2-selection__choice {
      background-color: grey(9);
      border: 1px solid black(0.5);
      cursor: default;
      float: left;
    }

    .select2-selection__choice__remove {
      color: #999;
      cursor: pointer;
      display: inline-block;
      font-weight: bold;
      margin-right: 2px;

      &:hover {
        color: #333;
      }
    }
  }

  &[dir="rtl"] .select2-selection--multiple {
    .select2-selection__choice, .select2-selection__placeholder, .select2-search--inline {
      float: right;
    }

    .select2-selection__choice {
      margin-left: 5px;
      margin-right: auto;
    }

    .select2-selection__choice__remove {
      margin-left: 2px;
      margin-right: auto;
    }
  }

  &.select2-container--focus .select2-selection--multiple {
    border: solid black 1px;
    outline: 0;
  }

  &.select2-container--disabled {
    .select2-selection--multiple {
      background-color: #eee;
      cursor: default;
    }

    .select2-selection__choice__remove {
      display: none;
    }
  }

  .select2-search--dropdown .select2-search__field {
    border-top: none;
    border-left: none;
    border-right: none;
  }

  .select2-search--inline .select2-search__field {
    background: transparent;
    border: none;
    outline: 0;
    box-shadow: none;
  }

  .select2-results > .select2-results__options {
    max-height: 200px;
    overflow-y: auto;
  }

  .select2-results__option {
    &[role=group] {
      padding: 0;
    }

    &[aria-disabled=true] {
      color: #999;
    }

    &[aria-selected=true] {
      color: c('primary');
    }
  }

  .select2-results__option--highlighted[aria-selected] {
    background-color: rgba(c('primary'), 0.035);
    border-top-color: c('primary');
    border-bottom-color: c('primary');
  }

  .select2-results__group {
    cursor: default;
    display: block;
    font-size: $fs * 0.8;
    padding-top: bl(0.25);
    padding-bottom: bl(0.125);
    line-height: bl(0.8);
    padding-left: bl(0.5);
    padding-right: bl(0.5);
    font-weight: 400;
  }
}
