.admin-navbar {
  display: flex;
  justify-content: flex-end;

  li {
    margin-left: bl(1);
  }
}

.admin-login-form {
  max-width: 480px;
  margin: 0px auto;
}

.block-admin-header {
  margin-left: 0px;
  margin-right: 0px;
}
