.decision-container {
  position: relative;
  padding-top: 10px;

  @include below(v('small')) {
    margin-left: 48px;
  }

  .step {
    position: absolute;
    right: 100%;
    background: c('primary');
    border-radius: 50%;
    height: bl(2);
    width: bl(2);
    top: 0px;
    text-align: center;
    font-size: 20px;
    color: #fff;
    line-height: bl(2);
  }
}

.block-decision {
  height: auto !important;
  min-height: calc(100vh - 96px);
}
