.block-footer {
  margin-bottom: bl(0);
  margin-top: bl(0);
  height: 96px;

  .block-inner {
    @include above(v('small')) {
      display: flex;
    }
  }

  ul {
    color: grey(5);

    .alt-color-scheme-2 & {
      color: grey(9);
    }

    @include above(v('small')) {
      text-align: right;
    }
  }
}

.footer-nav {
  margin-right: auto;

  @include below(v('small')) {
    margin-bottom: $bl;

    a {
      font-size: 12px;
    }
  }

  a {
    margin-right: 12px;
    display: inline-block;
    color: grey(6);

    .alt-color-scheme-2 & {
      color: grey(9);
    }
  }

  .footer-logo-wrap {
    margin-bottom: 6px;
    overflow: hidden;

    .logo-gray {
      display: block;
    }

    .logo-white {
      display: none;
    }

    .alt-color-scheme-1 &,
    .alt-color-scheme-2 &, {
      .logo-gray {
        display: none;
      }

      .logo-white {
        display: block;
      }
    }

    img {
      display: block;
      width: 120px;
      float: left;
      margin-right: 24px;
    }
  }

}
