
.form-inner {
  overflow: hidden;

  .field {
    margin-bottom: $bl * 0.75;
  }

  @include above(v('small')) {
    margin-left: bl(-0.5);
    margin-right: bl(-0.5);


    .field {
      width: 50%;
      padding-left: bl(0.5);
      padding-right: bl(0.5);
      float: left;

      &.full-width {
        width: 100%;
      }
    }
  }
}

.gov-only {
  display: none;
}

.notes {
  font-size: 0.8em;
  background: #eee;
  padding: 0.5em 1em;
  border: 1px solid #ccc;
  line-height: 1.4em;
}

.extra-special {
  .label {
    font-size: 20px;
    margin-bottom: 12px;
    color: #0078d7;
  }
}

.no-margin-bottom {
  margin-bottom: 0px !important;
}

.alert.alert-danger {
  border: 1px solid c('red');
  background: rgba(c('red'), 0.05);
  padding: 12px;
  margin-bottom: 24px;

  li {
    color: c('red');
  }

  ul {
    margin-bottom: 0px;
    list-style: none;
    padding-left: 0px;
    margin-left: 0px;
  }
}
