.block-hero {
  overflow: hidden;
  height: calc(100vh - 96px);

  @include below(v('small')) {
    height: auto;
  }

  .block-inner {
    position: relative;
    margin: none;
  }

  .logo {
    width: 240px;
  }

  .iphone-mockup {
    transform: translateY(bl(-3));

    @include below(v('small')) {
      transform: none;
      margin-top: 48px;
    }
  }

  h2 {
    margin-bottom: 6px !important;

  }

  h3 {
    color: grey(3);
    font-size: 20px;
    line-height: 28px;
  }

  p {
    font-size: 18px;
    line-height: 28px;
  }

  .disclaimer {
    font-size: 11pt;
    line-height: 1.5em;
  }
}

@include below(v('small')) {
  .block-hero {
    margin-top: bl(0);
  }

  .block-hero .block-inner {
    padding-top: 48px !important;
  }
}

.arrow-flair {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 280px;
  height: 800px;
  background-image: url(/img/arrow-flair.png);
  background-position: top left;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 40;

  @include below(1024px) {
    width: 120px;
  }

  @include below(768px) {
    display: none;
  }
}
