body {
  background: #fff;

  &.alt-color-scheme-1 {
    background: grey(1);
  }

  &.alt-color-scheme-2 {
    background: c('primary');
  }
}

.padded-box {
  border-radius: 4px;
  box-shadow: 0px 12px bl(1.5) 0 black(0.05);
  padding: bl(0.5);
  border: 1px solid lighten(c('primary'), 00%);
  background: rgba(c('primary'), 0.03);
  margin-bottom: 24px;

  .text-container & {
    h6 {
      margin-bottom: 12px;
    }
  }

  &.padded-box-blue {
    background: c('blue');
  }
}

@media (max-width: 1020px) {
  .partner-logos {
    .one-fourth {
      width: 100%;
      text-align: center;
      margin-bottom: 0px;

      img {
        margin: 0px auto;
      }
    }

    .three-fourths {
      text-align: center;
      width: 100%;

      .logo-row {
        align-items: center;
        justify-content: center;
        width: 100%;
      }
    }
  }
}

.logo-row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  img {
    max-width: 120px;
    max-height: 60px;
    margin-bottom: 24px;
    margin-right: 24px;
  }
}

.agenda-block {
  .alt-color-scheme-1 &, .alt-color-scheme-2 & {
    background: darken(grey(1), 5%) !important;
  }
}

.main-content {
  .text-container {
    h4 {
      margin-top: 48px;
      margin-bottom: 12px;
    }
  }
}

#myMap {
  a {
    border: none !important;
  }
}
