.modal-wrapper {
  @extend %position-fill;
  position: fixed;
  display: flex;
  padding: bl(2);
  overflow: auto;
  justify-content: center;
  display: none;
  z-index: 100;

  &.is-active {
    display: block;
  }
}

.modal-underlay {
  @extend %position-fill;
  position: fixed;
  background: black(0.8);
  z-index: 101;
}

.modal-content {
  position: relative;
  z-index: 102;
  max-width: bl(32);
  margin: 0px auto;
}

.modal-content-inner {
  background: $white;
  padding: bl(1);
  margin-bottom: bl(2);
}

.modal-header {
  padding: bl(1);
  background: #fff;
  border-bottom: 1px solid grey(7);
  display: flex;

  .modal-close {
    margin-left: auto;
    display: block;
    font-size: bl(2);
    line-height: bl(0.5);
    color: grey(4);

    &:hover {
      color: c('red');
    }
  }
}
